# python Data Types
* string
* int
* float
* list
* tuple
* dictionary
* set
* complex
* bool

## Methods and Attribute
* metho
    * variable_name.method_name()
    * with open close bricket
* Attribute
    * variable_name.attribue 
    * without bricket

In [12]:
a = "Pakistan zinda bad!"

print(type(a))# type
print(id(a))# memory address
print(a)# value

<class 'str'>
140444742660624
Pakistan zinda bad!

In [13]:
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

for i in dir(a):
    if "_" not in i:
        print(i)

In [14]:
[(idx, i) for idx,i in enumerate([i for i in dir(a) if "_" not in i])]

[(0, 'capitalize'),
 (1, 'casefold'),
 (2, 'center'),
 (3, 'count'),
 (4, 'encode'),
 (5, 'endswith'),
 (6, 'expandtabs'),
 (7, 'find'),
 (8, 'format'),
 (9, 'index'),
 (10, 'isalnum'),
 (11, 'isalpha'),
 (12, 'isascii'),
 (13, 'isdecimal'),
 (14, 'isdigit'),
 (15, 'isidentifier'),
 (16, 'islower'),
 (17, 'isnumeric'),
 (18, 'isprintable'),
 (19, 'isspace'),
 (20, 'istitle'),
 (21, 'isupper'),
 (22, 'join'),
 (23, 'ljust'),
 (24, 'lower'),
 (25, 'lstrip'),
 (26, 'maketrans'),
 (27, 'partition'),
 (28, 'replace'),
 (29, 'rfind'),
 (30, 'rindex'),
 (31, 'rjust'),
 (32, 'rpartition'),
 (33, 'rsplit'),
 (34, 'rstrip'),
 (35, 'split'),
 (36, 'splitlines'),
 (37, 'startswith'),
 (38, 'strip'),
 (39, 'swapcase'),
 (40, 'title'),
 (41, 'translate'),
 (42, 'upper'),
 (43, 'zfill')]

In [15]:
txt = "PAkiSTan ZinDa Bad. We love OUR country"
txt.capitalize()

'Pakistan zinda bad. we love our country'

In [16]:
txt = "PAkiSTan ZinDa Bad. We love OUR country"
txt.casefold()

'pakistan zinda bad. we love our country'

In [18]:
txt = "MuHaMMad Qasim"
txt.casefold??

In [19]:
txt = "MuHaMMad Qasim"
txt.casefold() == "muhammad qasim"

True

In [20]:
txt = "MuHaMMad Qasim"
txt == "muhammad qasim"

False

In [25]:
txt = "Pakistan"
txt.center(20)

'      Pakistan      '

In [26]:
txt = "Pakistan"
txt.count("a")

2

In [27]:
txt = "pakistan zinda bad we love pakistan"
txt.count("pakistan")

2

In [28]:
txt = "pakistan zinda bad we love pakistan"
txt.encode()

b'pakistan zinda bad we love pakistan'

In [29]:
txt = "My name is Ståle"

x = txt.encode()

print(x)

b'My name is St\xc3\xa5le'

In [30]:
txt = "My name is Ståle"

print(txt.encode(encoding="ascii",errors="backslashreplace"))
print(txt.encode(encoding="ascii",errors="ignore"))
print(txt.encode(encoding="ascii",errors="namereplace"))
print(txt.encode(encoding="ascii",errors="replace"))
print(txt.encode(encoding="ascii",errors="xmlcharrefreplace"))

b'My name is St\\xe5le'
b'My name is Stle'
b'My name is St\\N{LATIN SMALL LETTER A WITH RING ABOVE}le'
b'My name is St?le'
b'My name is St&#229;le'

In [32]:
chr(65)

'A'

In [33]:
ord('A')

65

import unidecode
unidecode.unidecode(x) # àéêöhello

In [36]:
txt = "Pakistan ziNda bad we love PaKistan"
txt.upper()

'PAKISTAN ZINDA BAD WE LOVE PAKISTAN'

In [37]:
txt.lower()

'pakistan zinda bad we love pakistan'

In [38]:
txt.title()

'Pakistan Zinda Bad We Love Pakistan'

In [39]:
txt.endswith("tan")

True

In [40]:
txt.startswith("Pakistan")

True

In [41]:
card = """
name:\t Muhammad Qasim
fname:\t Muhammad Aslam
"""
print(card)

name:	 Muhammad Qasim
fname:	 Muhammad Aslam

In [44]:
card = """
name:\t Muhammad Qasim
fname:\t Muhammad Aslam
"""
print(card.expandtabs(10))

name:      Muhammad Qasim
fname:     Muhammad Aslam

In [45]:
card = """
name:\t Muhammad Qasim
fname:\t Muhammad Aslam
"""
card.find("Qasim")# return start index number of first occurance

17

In [48]:
data = {
    "name":"Sadaf Hina",
    'fname':"Zahid Iqbal",
    'education':"BSCS"
}

card = """
name:\t {name}
fname:\t {fname}
""".format_map(data)

print(card)

name:	 Sadaf Hina
fname:	 Zahid Iqbal

In [49]:
txt = "abc1"
txt.isalnum()

True

In [50]:
txt = "abc"
txt.isalnum()

True

In [51]:
txt = "abc1"
txt.isalpha()

False

In [52]:
txt = "       Pakistan      zindaba       "
print(txt)
print(txt.strip())
print(txt.lstrip())
print(txt.rstrip())

       Pakistan      zindaba
Pakistan      zindaba
Pakistan      zindaba
       Pakistan      zindaba

In [53]:
txt = "Pakista zinda bad"

# Int

In [54]:
a = 27

print(type(a))
print(a)

<class 'int'>
27

In [55]:
dir(a)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [56]:
a.bit_length()

5

In [57]:
a.conjugate()

27

In [61]:
int.denominator(27)

TypeError: 'getset_descriptor' object is not callable

In [62]:
a.imag()

TypeError: 'int' object is not callable

In [64]:
a.to_bytes(8)

TypeError: to_bytes() missing required argument 'byteorder' (pos 2)

# List Data types
* open and close []
* pass element hetrogenous
* , coma as a seprator
* var[index] -> names[0] = "Qasim"
* var[start:end:step] -> names[0:2] = ["Qasim","Asif"]

In [67]:
names = ["Qasim","Asif","Hamza"]
print(type(names))
print(names)

<class 'list'>
['Qasim', 'Asif', 'Hamza']

In [66]:
dir(names)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [68]:
names = ["Qasim","Asif","Hamza"]
print(type(names))
names.clear()
print(names)

<class 'list'>
[]

In [69]:
names = ["Qasim","Asif","Hamza"]
names1 = names

print(names)
print(names1)

['Qasim', 'Asif', 'Hamza']
['Qasim', 'Asif', 'Hamza']

In [70]:
names1[0] = "Muhammad Qasim"
print(names)
print(names1)

['Muhammad Qasim', 'Asif', 'Hamza']
['Muhammad Qasim', 'Asif', 'Hamza']

In [71]:
names = ["Qasim","Asif","Hamza"]
names1 = names.copy()

print(names)
print(names1)

names1[0] = "Muhammad Qasim"
print(names)
print(names1)

['Qasim', 'Asif', 'Hamza']
['Qasim', 'Asif', 'Hamza']
['Qasim', 'Asif', 'Hamza']
['Muhammad Qasim', 'Asif', 'Hamza']

In [73]:
names = ["Qasim","Hamza"]
names.append("Asif")
print(names)

names.append([1,2,3,4])
print(names)

['Qasim', 'Hamza', 'Asif']
['Qasim', 'Hamza', 'Asif', [1, 2, 3, 4]]

In [74]:
names = ["Qasim","Hamza"]
names.append("Asif")
print(names)

names.extend([1,2,3,4])
print(names)

['Qasim', 'Hamza', 'Asif']
['Qasim', 'Hamza', 'Asif', 1, 2, 3, 4]

In [75]:
names.count("Qasim")

1

In [76]:
names.index("Asif")

2

In [78]:
a = print("pakistan")# non-return
print(a)

pakistan
None

In [79]:
a = len("pakistan")
print(a)

8

In [80]:
names

['Qasim', 'Hamza', 'Asif', 1, 2, 3, 4]

In [81]:
names.pop()
names

['Qasim', 'Hamza', 'Asif', 1, 2, 3]

In [82]:
b = names.pop()
print(b)
names

3

['Qasim', 'Hamza', 'Asif', 1, 2]

In [83]:
names.pop(0)
names

['Hamza', 'Asif', 1, 2]

In [84]:
names.insert(-1,"Pakistan")
names

['Hamza', 'Asif', 1, 'Pakistan', 2]

In [85]:
names.insert(0,"Pakistan")
names

['Pakistan', 'Hamza', 'Asif', 1, 'Pakistan', 2]

In [88]:
l = [1,2,3,7,2,5,6,10]
l.reverse()
l

[10, 6, 5, 2, 7, 3, 2, 1]

In [91]:
l = [1,2,3,7,2,5,6,10]
l.sort()
l

[1, 2, 2, 3, 5, 6, 7, 10]

In [92]:
l = [1,2,3,7,2,5,6,10]
l.sort(reverse=True)
l

[10, 7, 6, 5, 3, 2, 2, 1]

In [101]:
import re
x = "pakistan ( +) hello"

re.sub(r"(\( +\))","negative",x)

'pakistan ( +) hello'

In [105]:
#     0          1  2     3       move left to right start with 0
l =['qasim','aslam',30, 'MSDS'] 
#   -4     -3    -2       -1     move right to left start with -1

l[0]# positive index
l[-1] # negative index
l[0:3] # l[start:end:step] start=include, end 1 minus, 
#step=sequance by defualt left to right if provide -1 then right to left

['qasim', 'aslam', 30]

In [107]:
#     0          1  2     3       move left to right start with 0
l =['qasim','aslam',30, 'MSDS'] 
# 
print(l[0:3])

['qasim', 'aslam', 30]

In [108]:
#     0          1  2     3       move left to right start with 0
l =['qasim','aslam',30, 'MSDS'] 
# 
print(l[:3])

['qasim', 'aslam', 30]

In [109]:
#     0          1  2     3       move left to right start with 0
l =['qasim','aslam',30, 'MSDS'] 
# 
print(l[1:])#include all remaining index

['aslam', 30, 'MSDS']

In [110]:
#     0          1  2     3       move left to right start with 0
l =['qasim','aslam',30, 'MSDS'] 
# 
print(l[::])#include all remaining index

['qasim', 'aslam', 30, 'MSDS']

In [111]:
#     0          1  2     3       move left to right start with 0
l =['qasim','aslam',30, 'MSDS','abc','xyz',123] 
# 
print(l[::2])#include all remaining index

['qasim', 30, 'abc', 123]

In [112]:
l =['qasim','aslam',30, 'MSDS','abc','xyz',123] 

print(l[1:-2:])#include all remaining index

['aslam', 30, 'MSDS', 'abc']

In [113]:
l =['qasim','aslam',30, 'MSDS','abc','xyz',123] 

print(l[-6:5:])#include all remaining index

['aslam', 30, 'MSDS', 'abc']

In [115]:
l =['qasim','aslam',30, 'MSDS','abc','xyz',123] 

print(l[::-1])#include all remaining index

[123, 'xyz', 'abc', 'MSDS', 30, 'aslam', 'qasim']

In [116]:
l =['qasim','aslam',30, 'MSDS','abc','xyz',123] #<-

print(l[0:3:-1])#include all remaining index

[]

In [117]:
l =['qasim','aslam',30, 'MSDS','abc','xyz',123] #<-

print(l[4:0:-1])#include all remaining index

['abc', 'MSDS', 30, 'aslam']

In [123]:
l =['qasim','aslam',30, 'MSDS','abc','xyz',123] #<-
print(l)
l[0] = "Muhammad Qasim"
print(l)

['qasim', 'aslam', 30, 'MSDS', 'abc', 'xyz', 123]
['Muhammad Qasim', 'aslam', 30, 'MSDS', 'abc', 'xyz', 123]

In [130]:
l =['qasim','aslam',30, 'MSDS','abc','xyz',123] #<-
print(l)
l[0:3] = "Pakistan"
l

['qasim', 'aslam', 30, 'MSDS', 'abc', 'xyz', 123]

['P', 'a', 'k', 'i', 's', 't', 'a', 'n', 'MSDS', 'abc', 'xyz', 123]

# Cass4

# Tuple
imutable= not change able

In [124]:
a = (1,2,3,'abc')
a

(1, 2, 3, 'abc')

In [125]:
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [126]:
a = (1,2,3,'abc')
a[0]

1

In [127]:
a[0] = 20

TypeError: 'tuple' object does not support item assignment

In [128]:
a = (20,2,3,'abc')
a

(20, 2, 3, 'abc')

# Dictionary

#     0          1  2     3       move left to right start with 0
l =['qasim','aslam',30, 'MSDS'] 
#   -4     -3    -2       -1     move right to left start with -1


# now we are going to replace index with key
{
    key1:value1,
    key2:value2
}
key only hashable (string, int)
value= can be any data types (list,string,tuple,dictionary,..)

In [133]:
data = {
    "name": "Muhammad Qasim",
    "fname": "Muhammad Aslam",
    "age": 30,
    "course": ["Matric","Intermediate","BSCS","MSDS","PHD"],
    7:"Pakistan"
}
data

{'name': 'Muhammad Qasim',
 'fname': 'Muhammad Aslam',
 'age': 30,
 'course': ['Matric', 'Intermediate', 'BSCS', 'MSDS', 'PHD'],
 7: 'Pakistan'}

dict[key]

In [138]:
data = {
    "name": "Muhammad Qasim",
    "fname": "Muhammad Aslam",
    "age": 30,
    "course": ["Matric","Intermediate","BSCS","MSDS","PHD"],
    7:"Pakistan"
}
data['name']
data['fname']
data[7] = "Pakistan zinda bad"
data

{'name': 'Muhammad Qasim',
 'fname': 'Muhammad Aslam',
 'age': 30,
 'course': ['Matric', 'Intermediate', 'BSCS', 'MSDS', 'PHD'],
 7: 'Pakistan zinda bad'}

In [142]:
data = {}

data["name"] = "Muhammad Qasim"
data["fname"] = "Muhammad Aslam"

data

{'name': 'Muhammad Qasim', 'fname': 'Muhammad Aslam'}

In [143]:
dir(data)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [144]:
l = ['name','fname','course','timing','fee']

dict.fromkeys(l)

{'name': None, 'fname': None, 'course': None, 'timing': None, 'fee': None}

In [145]:
l = ['name','fname','course','timing','fee']

dict.fromkeys(l,'abc')

{'name': 'abc', 'fname': 'abc', 'course': 'abc', 'timing': 'abc', 'fee': 'abc'}

In [146]:
data = {
    "name": "Muhammad Qasim",
    "fname": "Muhammad Aslam",
    "age": 30,
    "course": ["Matric","Intermediate","BSCS","MSDS","PHD"],
    7:"Pakistan"
}
data['cnic']

KeyError: 'cnic'

In [147]:
data = {
    "name": "Muhammad Qasim",
    "fname": "Muhammad Aslam",
    "age": 30,
    "course": ["Matric","Intermediate","BSCS","MSDS","PHD"],
    7:"Pakistan"
}
data.get('name')

'Muhammad Qasim'

In [149]:
data.get('fname')

'Muhammad Aslam'

In [150]:
data.get('cnic')

In [155]:
key = input("enter key")
data.get(key,"Not available")

enter keyaccount no

'Not available'

In [156]:
data = {
    "name": "Muhammad Qasim",
    "fname": "Muhammad Aslam",
    "age": 30,
    "course": ["Matric","Intermediate","BSCS","MSDS","PHD"],
    7:"Pakistan"
}
data.keys()

dict_keys(['name', 'fname', 'age', 'course', 7])

In [157]:
data.values()

dict_values(['Muhammad Qasim', 'Muhammad Aslam', 30, ['Matric', 'Intermediate', 'BSCS', 'MSDS', 'PHD'], 'Pakistan'])

In [158]:
data.items()

dict_items([('name', 'Muhammad Qasim'), ('fname', 'Muhammad Aslam'), ('age', 30), ('course', ['Matric', 'Intermediate', 'BSCS', 'MSDS', 'PHD']), (7, 'Pakistan')])

In [161]:
for k in data.keys():
    print('keys',k, "value:",data[k])

keys name value: Muhammad Qasim
keys fname value: Muhammad Aslam
keys age value: 30
keys course value: ['Matric', 'Intermediate', 'BSCS', 'MSDS', 'PHD']
keys 7 value: Pakistan

In [162]:
for v in data.values():
    print(v)

Muhammad Qasim
Muhammad Aslam
30
['Matric', 'Intermediate', 'BSCS', 'MSDS', 'PHD']
Pakistan

In [163]:
k,v = (20,30)
print(k)
print(v)

20
30

In [164]:
for k,v in data.items():
    print(k,v)

name Muhammad Qasim
fname Muhammad Aslam
age 30
course ['Matric', 'Intermediate', 'BSCS', 'MSDS', 'PHD']
7 Pakistan

In [165]:
data.get("cnic",'not availbe')

'not availbe'

In [166]:
data

{'name': 'Muhammad Qasim',
 'fname': 'Muhammad Aslam',
 'age': 30,
 'course': ['Matric', 'Intermediate', 'BSCS', 'MSDS', 'PHD'],
 7: 'Pakistan'}

In [167]:
data.setdefault('name')

'Muhammad Qasim'

In [168]:
data.setdefault("cnic","123")

'123'

In [169]:
data

{'name': 'Muhammad Qasim',
 'fname': 'Muhammad Aslam',
 'age': 30,
 'course': ['Matric', 'Intermediate', 'BSCS', 'MSDS', 'PHD'],
 7: 'Pakistan',
 'cnic': '123'}

In [170]:
data.popitem()

('cnic', '123')

In [171]:
data

{'name': 'Muhammad Qasim',
 'fname': 'Muhammad Aslam',
 'age': 30,
 'course': ['Matric', 'Intermediate', 'BSCS', 'MSDS', 'PHD'],
 7: 'Pakistan'}

In [172]:
data.pop("fname")

'Muhammad Aslam'

In [173]:
data

{'name': 'Muhammad Qasim',
 'age': 30,
 'course': ['Matric', 'Intermediate', 'BSCS', 'MSDS', 'PHD'],
 7: 'Pakistan'}

In [174]:
data.update({"name":"Qasim","cnic":123})

In [175]:
data

{'name': 'Qasim',
 'age': 30,
 'course': ['Matric', 'Intermediate', 'BSCS', 'MSDS', 'PHD'],
 7: 'Pakistan',
 'cnic': 123}

In [177]:
k = ['a','b','c']
v = [1,2,3]

list(zip(k,v))

[('a', 1), ('b', 2), ('c', 3)]

In [178]:
key = ['a','b','c']
value = [1,2,3]

{k:v for k, v in zip(key,value)}

{'a': 1, 'b': 2, 'c': 3}