# String Formation
* + concatination
* .format(var1,var2)
* f"adf adf {var1} axy {var}"

In [2]:
student_name = "Muhammad Qasim"
fname = "Muhammad Aslam"
age = 30
education = "MSDS"


print(type(student_name), student_name)
print(type(fname), fname)
print(type(age), age)
print(type(education), education)

<class 'str'> Muhammad Qasim
<class 'str'> Muhammad Aslam
<class 'int'> 30
<class 'str'> MSDS

In [8]:
card ="NED University\n\nStudent Name: " + student_name + "\nFather's Name: "+ fname 


print(card)

NED University

Student Name: Muhammad Qasim
Father's Name: Muhammad Aslam

In [9]:
card ="NED University\n\nStudent Name: " + student_name + "\nFather's Name: "+ fname +"\nAge: "+age


print(card)

TypeError: can only concatenate str (not "int") to str

In [10]:
5 + 7

12

In [11]:
"abc" + "xyz"

'abcxyz'

In [12]:
5 + "a"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [13]:
str(5) + "a"

'5a'

In [14]:
card ="NED University\n\nStudent Name: " + student_name + "\nFather's Name: "+ fname +"\nAge: "+str(age)


print(card)

NED University

Student Name: Muhammad Qasim
Father's Name: Muhammad Aslam
Age: 30

In [15]:
card ="NED University\n\nStudent Name: " + student_name + "\nFather's Name: "+ fname +"\nAge: "+str(age)+"\nEducation: "+education


print(card)

NED University

Student Name: Muhammad Qasim
Father's Name: Muhammad Aslam
Age: 30
Education: MSDS

In [18]:
student_name = "Qasim"
fname = "Aslam"
age = 100
education = "MSDS"

card = """
NED University

Student Name: {}
Father's Name: {}
Age: {}
Education: {}
""".format(student_name, fname, age, education)

print(card)

NED University

Student Name: Qasim
Father's Name: Aslam
Age: 100
Education: MSDS

In [19]:
student_name = "Qasim"
fname = "Aslam"
age = 100
education = "MSDS"

card = """
NED University

Student Name: {}
Father's Name: {}
Age: {}
Education: {}
""".format(education, student_name,age, fname)
print(card)

NED University

Student Name: MSDS
Father's Name: Qasim
Age: 100
Education: Aslam

In [20]:
student_name = "Qasim"
fname = "Aslam"
age = 100
education = "MSDS"

card = """
NED University

Student Name: {1}
Father's Name: {3}
Age: {2}
Education: {0}
""".format(education, student_name,age, fname)

print(card)

NED University

Student Name: Qasim
Father's Name: Aslam
Age: 100
Education: MSDS

In [21]:
student_name = "Qasim"
fname = "Aslam"
age = 100
education = "MSDS"


card = f"""
NED University

Student Name: {student_name}
Father's Name: {fname}
Age: {age}
Education: {education}
"""

print(card)

NED University

Student Name: Qasim
Father's Name: Aslam
Age: 100
Education: MSDS

Arithmetic operators
Assignment operators
Comparison operators
Logical operators
Identity operators
Membership operators
Bitwise operators
https://www.w3schools.com/python/python_operators.asp

In [22]:
7 + 8

15

In [23]:
8-2

6

In [24]:
8/2

4.0

In [25]:
11 / 3

3.6666666666666665

In [26]:
11 // 3

3

In [28]:
11 % 3 # modulus

2

In [29]:
2 * 3

6

In [30]:
"a" * 5

'aaaaa'

In [31]:
2 ** 2 # power

4

# Assignment Operator

In [32]:
a = 7
print(a)

7

In [33]:
a = 7
a = a + 2

print(a)

9

In [34]:
a = 7
a += 2

print(a)

9

# Python Comparison Operators

In [35]:
a = 5

# 5 == 7
# False
a == 7

False

In [37]:
a = 7

# 7 == 7
# True
a == 7

True

In [38]:
a = 7
a < 5

False

In [39]:
a > 3

True

In [40]:
a = 7
a > 7

False

In [41]:
a = 7
a >= 7

True

In [42]:
a = 7
a <= 7

True

In [43]:
a = 7

a != 7 # not equal

False

In [44]:
a = 8

a != 7 # not equal

True

In [45]:
a = 7
b = 20


a == 7 and b == 20

True

In [46]:
True and True and True and True

True

In [47]:
True and False and True and True

False

In [48]:
True or False or True or True

True

In [49]:
not True

False

In [50]:
names = ['a','b','c']


'c' in names

True

In [51]:
'z' in names

False

In [52]:
a = 7
b = 7

print(id(a))
print(id(b))

93973800633280
93973800633280

In [53]:
a is b

True

In [55]:
x = "7"
y = 7


print(id(x))
print(id(y))

139902920357104
93973800633280

In [56]:
x is b

False

In [57]:
x not is b

SyntaxError: invalid syntax (<ipython-input-57-3727fe7e2ec9>, line 1)