# function
```
def function_name(arg1,arg2,..):
    statment1

function_name("a","b")

```

# String Formation

In [11]:
name = "Muhammad \"Q\"asim"
fname = 'Muhammad "A"slam'
education = "MSDS"
roll_no = 111

In [4]:
print(name)
print(fname)
print(education)
print(roll_no)

Muhammad "Q"asim
Muhammad "A"slam
MSDS
111

In [7]:
card = """
NED University
Batch-3

roll no: 122
student name: ABC
Father's Name: xyz
Education: aaa
"""
card

"\nNED University\nBatch-3\n\nroll no: 122\nstudent name: ABC\nFather's Name: xyz\nEducation: aaa\n"

In [12]:
"Student Name: " + name + "\n Roll no: " + roll_no

TypeError: can only concatenate str (not "int") to str

In [13]:
"Student Name: " + name + "\n Roll no: " + str(roll_no)

'Student Name: Muhammad "Q"asim\n Roll no: 111'

In [16]:
name = "Muhammad Qasim"
fname = 'Muhammad Aslam'
education = "MSDS"
roll_no = 111

card = "NED University\nBatch-3\n\nroll no: "+ str(roll_no)+"\nstudent name: "+ name + "\nFather's Name: "+fname+"\nEducation: "+ education

print(card)

NED University
Batch-3

roll no: 111
student name: Muhammad Qasim
Father's Name: Muhammad Aslam
Education: MSDS

In [17]:

name = "Muhammad Qasim"
fname = 'Muhammad Aslam'
education = "MSDS"
roll_no = 111

card = """
NED University
Batch-3

roll no: {}
student name: {}
Father's Name: {}
Education: {}
""".format(roll_no, name, fname, education)

print(card)

NED University
Batch-3

roll no: 111
student name: Muhammad Qasim
Father's Name: Muhammad Aslam
Education: MSDS

In [19]:

name = "Muhammad Qasim"
fname = 'Muhammad Aslam'
education = "MSDS"
roll_no = 111

card = """
NED University
Batch-3

roll no: {1}
student name: {2}
Father's Name: {3}
Education: {0}
""".format(education, roll_no, name, fname)

print(card)

NED University
Batch-3

roll no: 111
student name: Muhammad Qasim
Father's Name: Muhammad Aslam
Education: MSDS

In [21]:

name = "Muhammad Qasim"
fname = 'Muhammad Aslam'
education = "MSDS"
roll_no = 111

card = f"""
NED University
Batch-3

roll no: {roll_no}
student name: {name}
Father's Name: {fname}
Education: {education}
"""

print(card)

NED University
Batch-3

roll no: 111
student name: Muhammad Qasim
Father's Name: Muhammad Aslam
Education: MSDS

In [8]:
print(card)

NED University
Batch-3

roll no: 122
student name: ABC
Father's Name: xyz
Education: aaa

In [22]:
def add_two_numbers(num1, num2):# function define
    print("Add two number")
    print(f"Number {num1} and Number {num2} = {num1+num2}")
    
    
add_two_numbers(7,20)

Add two number
Number 7 and Number 20 = 27

In [23]:
add_two_numbers(1,9)
add_two_numbers(20,5)

Add two number
Number 1 and Number 9 = 10
Add two number
Number 20 and Number 5 = 25

In [25]:
def id_card(roll_no, name, fname, education):
    card = f"""
    NED University
    Batch-3

    roll no: {roll_no}
    student name: {name}
    Father's Name: {fname}
    Education: {education}
    """
    return card

print(id_card(1,"Qasim","Aslam","MSDS"))

    NED University
    Batch-3

    roll no: 1
    student name: Qasim
    Father's Name: Aslam
    Education: MSDS

In [26]:
print(id_card(2,"Asif","Abid","MSDS"))

    NED University
    Batch-3

    roll no: 2
    student name: Asif
    Father's Name: Abid
    Education: MSDS

In [ ]:
print(id_card(1,"Qasim","Aslam","MSDS"))

In [27]:
id_card(3,"ABC","XYx")

TypeError: id_card() missing 1 required positional argument: 'education'

In [29]:
print(id_card("Qasim","MSDS","Aslam",123))

    NED University
    Batch-3

    roll no: Qasim
    student name: MSDS
    Father's Name: Aslam
    Education: 123

In [31]:
print(id_card(name="Qasim", education="MSDS", fname="Aslam",roll_no=123))

    NED University
    Batch-3

    roll no: 123
    student name: Qasim
    Father's Name: Aslam
    Education: MSDS

In [32]:
s1 = [123,"Qasim","Aslam","MSDS"]
print(id_card(s1[0], s1[1],s1[2], s1[3]))

    NED University
    Batch-3

    roll no: 123
    student name: Qasim
    Father's Name: Aslam
    Education: MSDS

In [33]:
a,b,c = [1,2,3] # unzip
print(a)
print(b)
print(c)

1
2
3

In [34]:
s1 = [123,"Qasim","Aslam","MSDS"]
print(id_card(*s1))

    NED University
    Batch-3

    roll no: 123
    student name: Qasim
    Father's Name: Aslam
    Education: MSDS

In [35]:
s1 = {"education":"MSDS",
     "name":"Muhammad Qasim",
     "fname":"Muhammad Aslam",
     "roll_no":200}
# print(id_card(name="Qasim", education="MSDS", fname="Aslam",roll_no=123))
print(id_card(**s1))

    NED University
    Batch-3

    roll no: 200
    student name: Muhammad Qasim
    Father's Name: Muhammad Aslam
    Education: MSDS

# Optional argument n number

In [38]:
def my_sum(num1, num2, *num):
    print(num1 , num2 , num)
    
    
    
my_sum(100,200,1,2,3,4,5)

100 200 (1, 2, 3, 4, 5)

In [42]:
def my_sum(num1, num2, *num):
    print(num1 , num2 , num)

    output = num1 + num2
    for n in num:
        output += n
        
    return output
    
    
    
    
my_sum(100,200,1,2,3,4,5)

100 200 (1, 2, 3, 4, 5)

315

In [44]:
def my_sum(num1, num2, **num):
    print(num1 , num2 , num)
    output = num1 + num2
    
    for n in num.values():
        if type(n) is type(1):
            output += n
            
    return output
    
    
    
my_sum(100,200,num3=7, num8=20, pak='123', abc="xyz")

100 200 {'num3': 7, 'num8': 20, 'pak': '123', 'abc': 'xyz'}

327

In [ ]:
def my_sum(num1, num2, **num):
    print(num1 , num2 , num)
    
    
    
my_sum(100,200,num3=7, num8=20, pak='123')

In [40]:
def my_sum(num1, num2, *num):
    print(num1 , num2 , num)
    print(num1 + num2 + sum(num))
    
    
    
my_sum(100,200,1,2,3,4,5)

100 200 (1, 2, 3, 4, 5)
315

In [45]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [46]:
def abc():
    print("Pakistan zinda bad")
    
abc()

Pakistan zinda bad

In [50]:
def add_num(num1,num2,*n):
    return num1 + num2 + sum(n)

data = [[1,2,3,4],
       [1,2,3],
       [7,8,9,20,20,20,89]]


for row in data:
    print(add_num(*row))

10
6
173

In [52]:
for abc in [1,2,3,4]:
    print(abc)

1
2
3
4

# Generator Functions

In [54]:
def my_range(s,e):
    for i in range(s,e+1):
        print(i)
        
my_range(1,5)

1
2
3
4
5

In [59]:
def my_range(s,e):
    for i in range(s,e+1):
        yield i
        
a = my_range(1,5)
print(a)
print(next(a))
print(next(a))
print(next(a))
print(next(a))

<generator object my_range at 0x00000252794DF040>
1
2
3
4

In [60]:
list(my_range(1,5))

[1, 2, 3, 4, 5]

# Recursive function

In [63]:
def abc(n):
    if n==0:
        return n
    return n+abc(n-1)

abc(5)
[5,4,3,2,1]

15

In [71]:
# def abc(num1,num2):
#     return num1 + num2

#     (num1,num2) 
a = lambda num1,num2: num1 + num2

a(7,8)

15

In [69]:
data = [[1,"Z"],
       [2,"Y"],
       [3,"X"]]

data.sort(key=lambda x:x[1])
data

[[3, 'X'], [2, 'Y'], [1, 'Z']]

In [70]:
data = [[1,"Z"],
       [2,"Y"],
       [3,"X"]]

data.sort(key=lambda x:x[0], reverse=True)
data

[[3, 'X'], [2, 'Y'], [1, 'Z']]

In [72]:
lst = [('candy','30','100'), 
       ('apple','10','200'), 
       ('baby','20','300')]
lst.sort(key=lambda x:x[1])
print(lst)

[('apple', '10', '200'), ('baby', '20', '300'), ('candy', '30', '100')]

In [74]:
lst = [('candy','30','100'), 
       ('apple','10','200'), 
       ('baby','20','300')]
lst.sort(key=lambda x:x[2], reverse=False)
print(lst)

[('candy', '30', '100'), ('apple', '10', '200'), ('baby', '20', '300')]

In [76]:
l=[1,2,3,4]

list(map(lambda x:x+5, l))

[6, 7, 8, 9]

In [79]:
l=[1,2,3,4]

def abc(x):
    return x + 5

list(map(abc, l))

[6, 7, 8, 9]

In [80]:
l=[1,2,3,4]
def abc(x):
    return x + 5

for i in l:
    print(abc(i))

6
7
8
9

In [83]:
l = [20,27,30,50]
def abc(x):
    if x%2!=0:
        return x

list(filter(abc, l))

[20, 30, 50]

In [85]:
l = [20,27,30,50]
def abc(x):
    if x%2!=0:
        return x

print(abc(20))

None

In [96]:
import re
def attendance(x):
    x = x.replace("-","")
    nic = re.findall(r"\b[0-9]{13}\b",x)
    if len(nic)>=1:
        return nic[0]
    
with open("attendance.txt", encoding='utf-8') as f:
    l = f.readlines()
    cnic = []
    for line in l:
        a = attendance(line)
        
        if a not in cnic:
            cnic.append(a)
            
print(len(cnic))            
print(cnic)

53
[None, '4220105630741', '4220105436681', '4230108335683', '4210126974647', '4230139662957', '4250119167549', '4230187282502', '4220165351957', '4210145447712', '4220110596563', '4210170151767', '4240126592861', '4210133115704', '4220140225263', '4250155843080', '4220169252467', '5140176791651', '4210120075463', '4250125987808', '4220104505899', '4220159083880', '4220156089133', '4210164790696', '4220101410369', '4410242997959', '4210198030681', '4220117852609', '4230123126547', '3720198153543', '4210182767349', '3520269403788', '4250105286907', '4220121181003', '4220194464618', '4230189725317', '4210129511133', '4210151751811', '4250104502069', '4210185211999', '4210113863591', '4220122868467', '4220113316709', '3130399221225', '4240151906335', '4240105171159', '4200052746960', '4210174905059', '4220178699027', '4420626938874', '4220113823383', '4130110912633', '4230110912633']

In [97]:
dir("adasd")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']